#header {
	justify-content: space-between;
	padding: 15px;
}

#header::before {
	content: "";
	display: block;
	position: absolute;
	
	width: 430px;
	height: 300px;
	top: -30px;
	left: -50px;
	z-index: -1;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.logo {
	
	width: 80px;
	height: 80px;
	margin-right: 20px;
}

.logo-text {
	font-family: Roboto;
	font-size: 50px;
	font-weight: 400;
	text-transform: uppercase;
	color: #fff;
}

.logo-text span {
	color: #7583d4;
}

#header nav {
	overflow-x: visible;
}

#header a {
	font-size: 26px;
	color: #0e0933;
	margin-right: 80px;
}

#header .login-button {
	color: #fff;
	background-color: #261163;
	border-radius: 30px;
	padding: 5px 30px;
	transition: padding-right 0.3s;
}

#header .login-button:hover {
	padding-right: 25px;
}


#header nav a:not(.login-button) {
	position: relative;
}

#header nav a:not(.login-button)::after {
	content: "";
	position: absolute;
	bottom: -5px;
	left: 0;
	right: 0;
	margin: auto;
	width: 0%;
	background: #271657;
	height: 1px;
	transition: width 0.3s;
}

#header nav a:not(.login-button):hover::after {
	width: 95%;
}
